@charset "UTF-8";
/* ダウンロードフォント */
@font-face {
  font-family: "Apple Chancery";
  src: url("./fonts/AppleChancery.eot");
  src: url("./fonts/AppleChancery.eot?#iefix") format("embedded-opentype"), url("./fonts/AppleChancery.ttf") format("truetype"), url("./fonts/AppleChancery.svg#AppleChancery") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #e8e8e8;
  font-family: "Zen Kaku Gothic New", "Apple Chancery", sans-serif;
  color: #4c3a2c;
  letter-spacing: 3px;
}

/* フォントサイズ */
p,
span,
li,
th,
td {
  font-size: clamp(0.875rem, 1.5vw + 1rem, 1.25rem);
}

/* aタグのスタイル */
a {
  color: inherit;
  text-decoration: none;
}

.brand-logo {
  width: 30px;
  height: auto;
}

/* Header透明度 */
header.fixed-top.transparent {
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.3s ease;
}

header.fixed-top.opaque {
  background-color: #e8e8e8;
  transition: background-color 0.3s ease;
}

/* Navbarの設定 */
.navbar-brand-box,
.navbar-nav-box {
  display: flex;
  align-items: center;
}
@media (min-width: 992px) {
  .navbar-brand-box.navbar-brand-box,
  .navbar-nav-box.navbar-brand-box {
    padding-left: 100px;
  }
}
.navbar-brand-box.navbar-nav-box,
.navbar-nav-box.navbar-nav-box {
  justify-content: flex-end;
  flex-grow: 1;
}
@media (min-width: 992px) {
  .navbar-brand-box.navbar-nav-box,
  .navbar-nav-box.navbar-nav-box {
    padding-right: 100px;
  }
}

.navbar-brand-box a.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand-box a.navbar-brand img {
  margin-right: 15px;
}

.navbar-toggler {
  justify-content: left;
}
@media (min-width: 991.98px) {
  .navbar-toggler {
    margin-left: auto;
  }
}

/* スクロールボタンのスタイル */
#page_top {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  right: 10px;
  bottom: 15px;
  background: #22a4c4;
  border: 3px solid rgb(0, 80, 54);
}
#page_top::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f077";
  font-size: 16px;
  color: #ffffff;
  position: absolute;
  width: 50px;
  height: 16px;
  top: 0;
  bottom: 5px;
  right: 0;
  left: -2px;
  margin: auto;
  text-align: center;
  text-decoration: none;
}

/* フッターのスタイル */
@media screen and (min-width: 992px) {
  footer {
    margin-top: 150px;
  }
}
footer .footer-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1rem, 1.5vw + 1rem, 1.5rem);
  font-weight: bold;
}
footer .footer-brand .brand-logo {
  margin-right: 15px;
}
@media screen and (min-width: 992px) {
  footer .brand-and-link-container {
    border-right: 1px solid #4c3a2c;
  }
}
footer .footer-link {
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  footer .footer-link {
    font-size: 1rem;
  }
}
.fa-brands,
.fab {
  margin-right: 0;
}
@media screen and (min-width: 992px) {
  .fa-brands,
  .fab {
    margin-right: 20px;
  }
}

.copyright {
  font-family: "Shippori Antique B1", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.5px;
}

/* フッターのスタイルここまで */
/* 下層ページ */
/*herosection */
.hero-section {
  position: relative;
  width: 100%;
  height: 500px;
}

.contents-container {
  margin: 100px 0 50px;
  background-color: #fff;
  border-radius: 35px;
}

/* 下層ページ 見出し下のSVG */
.container {
  overflow-x: hidden; /* 横のはみ出し部分を非表示に */
}

.page-heading {
  margin-bottom: 0;
}

.svg-container {
  position: relative;
}
.svg-container svg {
  width: 100%;
  display: block;
  preserveaspectratio: "xMinYMin meet";
}/*# sourceMappingURL=common.css.map */