$cMain: #c6af28; //rgb(198, 175, 40)
$cBack: rgba(255, 241, 159, 0.751);

.container {
  overflow-x: hidden; /* 横のはみ出し部分を非表示に */
}

.page-heading {
  margin-bottom: 0;
}

.svg-container {
  position: relative;

  svg {
    width: 100%;
    display: block;
    // SVGがビューポート内で調整されるように設定
    preserveaspectratio: "xMinYMin meet";
  }

  @media screen and (min-width: 960px) {
    // transform: scale(1.2);
  }

  @media screen and (min-width: 1280px) {
    // transform: scale(1);
  }
}

// Tableのスタイル
.company-table {
  & .t-row {
    border-top: 0.1px solid $cMain;

    &.last {
      border-bottom: 0.1px solid $cMain;
    }
  }

  & .t-head {
    background-color: $cBack;
    display: block;

    @media screen and (min-width: 768px) {
      display: table-cell;
      width: auto;
    }
  }

  & .t-data {
    display: block;

    @media screen and (min-width: 768px) {
      display: table-cell;
    }
  }
}

.long-text {
  font-size: 1rem;
  letter-spacing: 1px;

  @media screen and (min-width: 768px) {
    font-size: clamp(0.875rem, 1.5vw + 1rem, 1.25rem);
  }
}

.pc {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline;
  }
}
.mb {
  display: inline;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
