.container {
  overflow-x: hidden; /* 横のはみ出し部分を非表示に */
}

.page-heading {
  margin-bottom: 0;
}

.svg-container {
  position: relative;

  svg {
    width: 100%;
    display: block;
    // SVGがビューポート内で調整されるように設定
    preserveAspectRatio: "xMinYMin meet";
  }

  @media screen and (min-width: 960px) {
    // transform: scale(1.2);
  }

  @media screen and (min-width: 1280px) {
    // transform: scale(1);
  }
}


input[type="text"],
input[type="email"]
{
  background-color: #e8e8e8 !important;
}
textarea {
  background-color: #e8e8e8 !important;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 40px;
  height: 20px;
  background-color: #e8e8e8;
  border: 1px solid #ccc;
  cursor: pointer;
}
@media screen and (min-width: 430px) {
  input[type="checkbox"] {
    width: 30px;
  }
}
@media screen and (min-width: 768px) {
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }
}

/* チェックされたときの背景色を変更 */
input[type="checkbox"]:checked {
  background-color: #c6af28;
  border: 1px solid #e8e8e8;
}

/* confirm.phpで長いテキストが入力されたときの折り返し指定 */
.session-data {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
}