.contact-container {
  background-color: #fff;
  border-radius: 50px;
}
@media screen and (min-width: 992px) {
  .contact-container {
    margin-top: 100px !important;
  }
}

input[type="text"],
input[type="email"]
{
  background-color: #e8e8e8 !important;
}
textarea {
  background-color: #e8e8e8 !important;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 45px;
  height: 20px;
  background-color: #e8e8e8;
  border: 1px solid #ccc;
  cursor: pointer;
}
@media screen and (min-width: 430px) {
  input[type="checkbox"] {
    width: 45px;
  }
}
@media screen and (min-width: 768px) {
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }
}

/* チェックされたときの背景色を変更 */
input[type="checkbox"]:checked {
  background-color: #c6af28;
  border: 1px solid #e8e8e8;
}