.top-hero-section {
  width: 100%;
  height: 100svh;
}
@media screen and (min-width: 992px) {
  .top-hero-section {
    width: 100%;
    height: 100svh;
  }
}

.hero-svg {
  padding-top: 25svh;
  transform: scale(2, 2);
}
@media screen and (min-width: 430px) {
  .hero-svg {
    padding-top: 25svh;
  }
}
@media screen and (min-width: 500px) {
  .hero-svg {
    padding-top: 22svh;
    transform: scale(1.5, 1.5);
  }
}
@media screen and (min-width: 768px) {
  .hero-svg {
    padding-top: 25svh;
    transform: scale(1.5, 1.5);
  }
}
@media screen and (min-width: 1024px) {
  .hero-svg {
    padding-top: 20svh;
    transform: scale(1, 1);
  }
}
@media screen and (min-width: 1280px) {
  .hero-svg {
    padding-top: 10svh;
    transform: scale(1, 1);
  }
}

.hero-text {
  color: #4c3a2c;
  text-align: center;
  margin-top: 20svh;
}
@media screen and (min-width: 430px) {
  .hero-text {
    margin-top: 180px;
  }
}
@media screen and (min-width: 768px) {
  .hero-text {
    margin-top: 150px;
  }
}
@media screen and (min-width: 1024px) {
  .hero-text {
    margin-top: 50px;
  }
}

.animate-text.head .letter {
  font-family: "Apple Chancery";
  font-size: calc(8px + 4.375vw);
  font-weight: bold;
  letter-spacing: 2px;
}
.animate-text.p .letter {
  font-size: calc(13.3333333333px + 0.8333333333vw);
  font-weight: bold;
  letter-spacing: 5px;
}
@media screen and (min-width: 1280px) {
  .animate-text.head .letter {
    font-size: 64px;
  }
  .animate-text.p .letter {
    font-size: 24px;
  }
}

.hero-scroll-text {
  font-family: "Apple Chancery";
  font-size: calc(10.6666666667px + 1.0416666667vw);
  color: #c6af28;
  font-weight: bold;
  letter-spacing: 1px;
}

.svg-background {
  position: absolute;
  top: 145svh;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}
@media screen and (min-width: 430px) {
  .svg-background {
    top: 130svh;
  }
}
@media screen and (min-width: 500px) {
  .svg-background {
    top: 130svh;
  }
}
@media screen and (min-width: 768px) {
  .svg-background {
    top: 120svh;
  }
}
@media screen and (min-width: 992px) {
  .svg-background {
    top: 120svh;
    width: 95%;
    left: 2.5%;
  }
}
@media screen and (min-width: 1200px) {
  .svg-background {
    top: 120vh;
    width: 90%;
    left: 5%;
  }
}
@media screen and (min-width: 1400px) {
  .svg-background {
    top: 150vh;
    width: 100%;
  }
}
@media screen and (min-width: 1600px) {
  .svg-background {
    top: 130vh;
    width: 80%;
  }
}

.swiper-container.top {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.swiper-container.top .swiper-wrapper {
  transition-timing-function: linear !important;
}
.swiper-container.top .swiper-slide.top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-container.top .swiper-slide.top img {
  width: 160px;
  height: 200px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 430px) {
  .swiper-container.top .swiper-slide.top img {
    width: 180px;
    height: 220px;
  }
}
@media screen and (min-width: 768px) {
  .swiper-container.top .swiper-slide.top img {
    width: 220px;
    height: 260px;
  }
}
@media screen and (min-width: 1024px) {
  .swiper-container.top .swiper-slide.top img {
    width: 240px;
    height: 280px;
  }
}

.c-section-content.first, .c-section-content.products {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.c-section-content.first .c-section-item, .c-section-content.products .c-section-item {
  max-width: 600px;
}
.c-section-content.first .c-section-title, .c-section-content.products .c-section-title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
  color: #4c3a2c;
}
.c-section-content.first .c-section-paragraph, .c-section-content.products .c-section-paragraph {
  font-size: 16px;
  font-weight: bold;
  color: #4c3a2c;
  text-align: center;
}

.c-section-content {
  padding: 20px;
  font-weight: bold;
}
.c-section-content .c-section-title {
  font-size: 24px;
  margin-bottom: 16px;
  color: #4c3a2c;
  font-weight: bold;
  text-align: center;
}
.c-section-content .c-section-paragraph {
  font-size: 16px;
  color: #4c3a2c;
}

@media screen and (min-width: 1024px) {
  .company {
    margin-top: 150px;
  }
}
.company-img, .introduction-img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}
@media screen and (min-width: 430px) {
  .company-img, .introduction-img {
    width: 350px;
    height: 350px;
  }
}
@media screen and (min-width: 600px) {
  .company-img, .introduction-img {
    width: 450px;
    height: 450px;
  }
}

@media screen and (min-width: 992px) {
  .introduction {
    margin-top: 50px;
  }
}
@media screen and (min-width: 992px) {
  .products-container {
    margin-top: 150px;
  }
}

.swiper-container.products, .swiper-container.works {
  width: 100vw;
  height: 300px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: inherit;
}
.swiper-container.products .swiper-slide, .swiper-container.works .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-container.products .swiper-slide img, .swiper-container.works .swiper-slide img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 1024px) {
  .swiper-container.products .swiper-slide img, .swiper-container.works .swiper-slide img {
    width: 250px;
    height: 250px;
  }
}/*# sourceMappingURL=main.css.map */