.top-hero-section {
  position: relative;
  width: 100%;
  height: 100svh;
}

.slides {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333; /* テキストの色 */
  text-align: center;
}

.hero-text h2 {
  font-family: "Apple Chancery";
  font-size: calc((100vw - 320px) / 140 + 24px);
  font-weight: bold;
  letter-spacing: 2px;
}
.hero-text p {
  font-size: calc((100vw - 320px) / 140 + 14px);
  font-weight: bold;
  letter-spacing: 5px;
}

@media screen and (min-width: 960px) {
  .hero-text h2 {
    font-size: 64px;
    font-weight: bold;
  }
  .hero-text p {
    font-size: 24px;
    font-weight: bold;
  }
}

.c-section-content.first,
.c-section-content.products {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.c-section-item.first,
.c-section-item.products {
  max-width: 600px;
}

.c-section-title.first,
.c-section-title.products {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
  color: #333;
}

.c-section-paragraph.first,
.c-section-paragraph.products {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

/* Component classes */
.c-section-content {
  padding: 20px;
}

.c-section-title {
  font-size: 24px;
  margin-bottom: 16px;
  color: #333;
}

.c-section-paragraph {
  font-size: 16px;
  color: #333;
}

/* Topへスクロールボタン全体 */
#page_top {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  right: 10px;
  bottom: 15px;
  background: #22a4c4;
  border: 3px rgb(0, 80, 54) solid;
}

/* Font Awesomeを使用 */
#page_top::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f077";
  font-size: 16px;
  color: #ffffff;
  position: absolute;
  width: 50px;
  height: 16px;
  top: 0;
  bottom: 5px;
  right: 0;
  left: -2px;
  margin: auto;
  text-align: center;
  text-decoration: none;
}
